@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-sm-12">
        @Html.Action("newsCarousel", "ManageNews")
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-3">
        @Html.Action("ClientRenewalGrid", "CoachCharts")
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="row">
            <div>
                @Html.Action("TopPerformers", "CoachCharts")
            </div>
            <div>
                @Html.Action("BottomPerformers", "CoachCharts")
            </div>
        </div>
        <div class="row">
            <div>
                @Html.Action("TopPerformersLifetime", "CoachCharts")
            </div>
            <div>
                @Html.Action("BottomPerformersLifetime", "CoachCharts")
            </div>

        </div>
    </div>

</div>
