@model KetoSavageWeb.ViewModels.UserProgramViewModel
@{
    ViewBag.Title = "User Program Details";

}
<script language="javascript">

    function enterMacroPopup() {
        var mainPopup = $("#mainDxPopup").dxPopup("instance");
        mainPopup.option("contentTemplate", $("#dxMacroPopup"));
        mainPopup.option("title", "Enter Macros");
        mainPopup.show();
    }

    function GotFocus(s, e) {
        //currentControl = s;
        //setTimeout(FocusControl, 100);
    }

    function FocusControl() {

        //currentControl.SelectAll();
    }

    function SubmitGrid() {
        if (UpdateMacroGrid.batchEditApi.ValidateRows()) {
            UpdateMacroGrid.UpdateEdit();
        }

    }

    function myFunction() {
        UpdateMacroGrid.batchEditApi.MoveFocusForward();
    }

    function openWindow() {
        window['macroPopup'].Show();
    }

    function updateMacroPieChart(s, e) {
        var form = $("#updateForm").dxForm("instance");
        var fat = form.getEditor("Fat").option("value");
        var protein = form.getEditor("Protein").option("value");
        var carbs = form.getEditor("Carbohydrates").option("value");

        $.ajax({
            type: "POST",
            url: '@Url.Action("onMacroChange", "UserPrograms")',
            data: { fat: fat, protein: protein, carbs: carbs},
            success: function(response) {
                window.console.log("success");
                window.console.log(response);
                $("#macro-chart").html(response);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                window.console.log(errorThrown);
                alert("For some reason, this did not work");
            }
        });
    }

</script>

<div id="client-name">
    Client: @ViewBag.ClientName
</div>
@*<div id="controlPanel">
        @Html.DevExpress().Panel(settings =>
        {
            settings.Name = "pnlButtons";
            settings.ControlStyle.CssClass = "pnlButtons";
            settings.SetContent(() =>
            {
                ViewContext.Writer.Write("<div class=\"buttons\">");
                Html.DevExpress().Button(um =>
                {
                    um.Name = "btnShowMacros";
                    um.Text = "Update Macros";
                    um.ClientSideEvents.Click = "function(s, e) { openWindow('Macros'); }";
                }).Render();
                ViewContext.Writer.Write("</div>");
                //ViewContext.Writer.Write("<div class=\"buttons\">");

                //Html.DevExpress().Button(t =>
                //{
                //    t.Name = "btnTest";
                //    t.Text = "Test Button";
                //}).Render();
                //ViewContext.Writer.Write("</div>");
            });
        }).GetHtml()
    </div>*@
<div class="row">
    <div class="col-sm-12">
        @(Html.DevExtreme().Button()
                    .ID("btnUpdateMacros")
                    .Text("Update Macros")
                    .OnClick("enterMacroPopup")
        )
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @Html.Action("ClientWeightGraph", "ClientCharts", new { userId = Session["UserId"] })
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-3">
        @Html.Action("ClientPerformanceGauge", "ClientCharts", new { userId = Session["UserId"] })
    </div>
    <div class="col-sm-12 col-lg-3">
        @Html.Action("ClientPastWeekMacroChart", "ClientCharts", new { userId = Session["UserId"] })
    </div>
    <div class="col-sm-12 col-lg-3">
        @Html.Action("PvAMacroPieChart", "ClientCharts")
    </div>
    <div class="col-sm-12 col-lg-3">
        @Html.Action("PvACurrentMacroPieChart", "ClientCharts")
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="background-color: #0a0a0a">
        @Html.Action("ClientCurrentWeekMacroGauge", "ClientCharts", new { userId = Session["UserId"] })
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @if (Request.Browser.IsMobileDevice)
        {
            if (Request.Browser.ScreenPixelsWidth > 780)
            {
                @Html.Action("ClientProgramGrid", "ClientCharts", new { userId = Session["UserId"] })
            }
            else
            {
                @Html.Action("ClientProgramGridMobile", "ClientCharts", new { userId = Session["UserId"] })
            }

        }
        else
        {
            @Html.Action("ClientProgramGrid", "ClientCharts", new { userId = Session["UserId"] })
        }
    </div>
</div>

@using (Html.DevExtreme().NamedTemplate("dxMacroPopup"))
{
    @(Html.Action("EnterMacroForm"))
}

@*@Html.DevExpress().PopupControl(settings =>
    {
        settings.Name = "macroPopup";
        //settings.Width = 400;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = DevExpress.Web.AnimationType.None;
        settings.ShowHeader = false;
        settings.Modal = true;
        settings.AutoUpdatePosition = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.OutsideLeft;
        settings.PopupVerticalAlign = PopupVerticalAlign.TopSides;
        settings.ClientSideEvents.CloseUp = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(null, '', true); }";
        settings.SetContent(() =>
        {
            Html.RenderAction("WeeklyMacroUpdateForm", "UserPrograms");
        });
    }).GetHtml()*@

