@model KetoSavageWeb.ViewModels.UserProgramViewModel
@{
    ViewBag.Title = "User Program Details";

}
<script language="javascript">

    function LoadMyGrid() {

    }

    function OnStartEdit(s, e) {

    }

    function OnEndEdit(s, e) {

    }

    function OnValidateEdit(s, e) {

    }

    function AddNewRow() {

    }

    function OnSelectionChanged(s, e) {
    }

    function GotFocus(s, e) {
        //currentControl = s;
        //setTimeout(FocusControl, 100);
    }

    function FocusControl() {

        //currentControl.SelectAll();
    }

    function SubmitGrid() {
        if (UpdateMacroGrid.batchEditApi.ValidateRows()) {
            UpdateMacroGrid.UpdateEdit();
        }

    }

    function myFunction() {
        UpdateMacroGrid.batchEditApi.MoveFocusForward();
    }

    function openWindow() {
        window['macroPopup'].Show();
    }

    function updateMacroPieChart(s, e) {
        var fat = Fat.GetText();
        var protein = Protein.GetText();
        var carbs = Carbohydrates.GetText();

        $.ajax({
            type: "POST",
            url: '@Url.Action("onMacroChange", "UserPrograms")',
            data: { fat: fat, protein: protein, carbs: carbs},
            //beforeSend: function() {
            //    loadingPanel.Show();
            //},
            success: function(response) {
                window.console.log("success");
                window.console.log(response);
                $("#macro-chart").html(response);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                window.console.log(errorThrown);
                alert("For some reason, this did not work");
            }
        });
    }

</script>

<div id="client-name">
    Client: @ViewBag.ClientName
</div>
<div id="controlPanel">
    @Html.DevExpress().Panel(settings =>
    {
        settings.Name = "pnlButtons";
        settings.ControlStyle.CssClass = "pnlButtons";
        settings.SetContent(() =>
        {
            ViewContext.Writer.Write("<div class=\"buttons\">");
            Html.DevExpress().Button(um =>
            {
                um.Name = "btnShowMacros";
                um.Text = "Update Macros";
                um.ClientSideEvents.Click = "function(s, e) { openWindow('Macros'); }";
            }).Render();
            ViewContext.Writer.Write("</div>");
            //ViewContext.Writer.Write("<div class=\"buttons\">");

            //Html.DevExpress().Button(t =>
            //{
            //    t.Name = "btnTest";
            //    t.Text = "Test Button";
            //}).Render();
            //ViewContext.Writer.Write("</div>");
        });
    }).GetHtml()
</div>

<div id="weightGraph">
    @Html.DevExpress().Panel(settings =>
    {
        settings.Name = "pnlWeightGraph";
        settings.SetContent(() =>
        {
            var userId = Session["UserId"];
            Html.RenderAction("ClientWeightGraph", "ClientCharts", new { userId = userId });
        });

    }).GetHtml()
</div>
<div id="gaugeContainer">
    @Html.DevExpress().Panel(settings =>
        {
            settings.Name = "pnlCharts";
            settings.SetContent(() =>
            {
                Html.RenderAction("ClientPerformanceGauge", "ClientCharts", new { userId = Session["UserId"] });
                Html.RenderAction("ClientPastWeekMacroChart", "ClientCharts", new { userId = Session["UserId"] });
                Html.RenderAction("ClientCurrentWeekMacroGauge", "ClientCharts", new { userId = Session["UserId"] });
            });
        }).GetHtml()
</div>
<div id="gridContainer">
    @Html.DevExpress().Panel(settings =>
    {
        settings.Name = "pnlGrids";
        settings.SetContent(() =>
        {
            Html.RenderAction("ClientProgramGrid", "ClientCharts", new { userId = Session["UserId"] });
        });
    }).GetHtml()
</div>


@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "macroPopup";
    //settings.Width = 400;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.CloseOnEscape = true;
    settings.PopupAnimationType = DevExpress.Web.AnimationType.None;
    settings.ShowHeader = false;
    settings.Modal = true;
    settings.AutoUpdatePosition = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.OutsideLeft;
    settings.PopupVerticalAlign = PopupVerticalAlign.TopSides;
    settings.ClientSideEvents.CloseUp = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(null, '', true); }";
    settings.SetContent(() =>
    {
        Html.RenderAction("WeeklyMacroUpdateForm", "UserPrograms");
    });
}).GetHtml()

