<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title
    </title>

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")


    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")

    <script src="@Url.Content("~/Scripts/JSCustom.js")" type="text/javascript"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">




</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
            <a class="navbar-brand" href="/"><img src="~/Content/Images/KSHeaderLogo_white.png" /></a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            @if (User.IsInRole("Client"))
            {
                
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="#" class="nav-link" id="enterMacros">Enter Macros</a></li>
                        <li class="nav-item"><a href="#" class="nav-link" id="enterMeasurements">Enter Measurements</a></li>
                        <li class="nav-item">@Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Logout", "LogOff", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                    </ul>
                </div>
            }
            else
            {
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="~/UserPrograms/ManageClientMacros" class="nav-link">Update Macros</a></li>
                        <li class="nav-item"><a href="~/UserPrograms" class="nav-link">Client Programs</a></li>
                        <li class="nav-item"><a href="~/ManageUsers" class="nav-link">Manage Users</a></li>
                        <li class="nav-item"><a href="~/ManageNews" class="nav-link">Manage News</a></li>
                        <li class="nav-item"><a href="~/Programs" class="nav-link">Manage Programs</a></li>
                        <li class="nav-item">@Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Logout", "LogOff", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                    </ul>
                </div>
            }
        </nav>

    }


    <main role="main" class="container">
        @RenderBody()
    </main>


    @(Html.DevExtreme().Popup()
                                        .ID("mainDxPopup")
                                        .ShowTitle(true)
                                        .FullScreen(true)
                                        .ShowCloseButton(true)
                                        .Title("Popup on Main Page")
    )


</body>
























</html>